@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@100;300;400;500&display=swap');

* {
  font-family: 'Roboto';
}

body {
  margin: 0;
  font-family: 'Roboto';
  background: #323232;
}
